<h1>These are the Student Details</h1>
<div>Student First Name:${properties.studentfirstname}</div>
<div>Student Last Name:${properties.studentlastname}</div>
<div>Student Email Id:<a href="#">${properties.studentemailid}</a></div>
<div>Student Phone Number:${properties.studentphonenumber}</div>
<div>Student Marks:${properties.studentmarks}</div>

<h1>Thease are the Employee Details</h1>
<div>Employee First Name:${properties.employeefirstname}</div>
<div>Employee Last Name:${properties.employeelastname}</div>
<div>Employee Email Id:<a href="#">${properties.employeeemailid}</a></div>
<div>Employee Phone Number:${properties.employeephonenumber}</div>