
<div class="Student-details-tab1">

    <div data-sly-use.model="	com.adobe.aem.guides.demo.core.models.Venkatamma"></div>
   <h1>These are the Student details </h1>
  <div>
    Student First Name:${model.studentfirstname}
  </div>
  <div>
     Student Last Name:${model.studentlastname}
  </div>
  <div>
     Student Bio:${model.studentbio}
  </div>
  <div>
     Student Marks:${model.studentmarks}
  </div>

</div>
<div class ="Employee Details">
   <h1>These are the Employee Details</h1>
   <div>Employee First Name:${model.employeefirstname}</div>
   <div>Employye Last Name:${model.employeelastname}</div>
   <div>Employee Email Id:${model.employeeemailid}</div>
   <div>Employee Id:${model.employeeid}</div>

</div>