<div class="side bar">
<h1>side bar</h1>
<div data-sly-use.model="com.adobe.aem.guides.demo.core.models.Arjuna"></div>
<p>Header<p>
   <div class="Header-tab1">
       <p>Logo Path</p>
        <div>
           <img src="${model.logopath}" alt="/Logo Path">
        </div>
        <p>Logo Mobile Image</p>
        <div>
           <img src="${model.logomobileimage}" atl="/Logo Mobile Image">
        </div>
        <div>
             <div>
                Logo Link: <a href="${model.logolink}">${model.logolink}</a>
             </div>

        </div>
        <div>
          <label>Enable Switch:</label
          <div>${(model.enableSwitch) ? "Enable" : "Disable"}</div>
        </div>

   </div>
   <div class="Header Links-tab2">
      <p>Header Links</p>
      <div>
          Name:${model.name}
      </div>
      <p>Image</p>
      <div>
        <img src="${model.img}" alt="/Image">
      </div>
   </div>
   <p>SideBar Navigation</p>
   <div class="SideBar Navigation">
      <p>Desktop Icon</p>
      <div>
          <img src="${model.desktopicon}" alt="/Desktop Icon">
      </div>
       <p>Mobile Icon</p>
       <div>
          <img src="${model.mobileicon}" alt="/Mobile Icon">
       </div>
       <div>
           Naviagtion Url:<a href="${model.navigationurl}">${model.navigationurl}</a>
       </div>

   </div>
   <div class="Region">
    <div>Region:${model.country}</div>
   </div>
</div>
